*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0px 40px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}

header #memoji{
    border-radius: 80px;
    width: 200px;
}

header h1{
    color: #4d637a;
    font-size: 50px;
    font-family: monospace;
}

article{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    font-size: 25px;
}

.descrição{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.descrição p{
    flex-basis: 100px;
    align-content: center;
    margin-bottom: 40px;
    text-align: center;
    
}

.icon{
    width: 60px;
    height: 60px;
}

.descrição .social{
    display: flex;
    justify-content: space-around;
}

#guilherme{
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 30px;
    background-color: #4d637a;
    margin-right: 50px;
}

nav{
    margin: 0 auto;
    margin-bottom: 50px;
}

.navegation{
    display: flex;
    background-color: #96C0B7;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    max-width: 400px;
    padding: 40px;
    border-radius: 30px;
}

.navegation ol{
    list-style: none;
}

.navegation a{
    text-decoration: none;
}

h3{
    color: #4d637a;
    font-size: 22px;
    font-family: monospace
}

.listas{
    display: flex;
    justify-content: space-evenly;
}

.listas section{
    max-width: 400px;
    height: 500px;
    padding: 40px;
    background-color: antiquewhite;
    border-radius: 30px;
}

.curiosidade{
    line-height: 40px;
}

.habilidade{
    line-height: 30px;
}

.person-style{
    color: #48A9A6;
}

.city-style{
    color: #4281a4;
}

.geek{
    color:#4281a4;
    font-size: 20px;
}
  
.descrição-right{
    margin: 50px;
    margin-left: 490px;
}

div div{
    height: 430px;
}

ul li:nth-of-type(odd){
    font-style: italic;
    font-weight: bold;
}
